<a href="https://colab.research.google.com/github/Alapan18/Alapan18/blob/main/pythonlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#find the greatest of the 3 user input numbers

x=int(input('enter the value of x '))
y=int(input('enter the value of y '))
z=int(input('enter the value of z '))

if x>y :
  if x>z :
    print('X is greatest')
  else :
      print('Z is greatest')
else :
  if y>z :
    print('Y is greatest')
  else :
    print('Z is greatest')

In [ ]:
for x in range (1,11,2 ): #range = 1 - 10
while(x<=10) :
def abc(x,y):
  z=x+y
  print (z)
abc(100,200)

In [ ]:
#write a python programme to find the prime number within a range using function

def prime (x,y) :
  for i in range (x, y+1) :
    c=0
    for j in range (1, i+1) :
      if i%j==0 :
        c+=1
    if c==2 :
      print( j ,end='  ')

x=int(input('enter the lower level '))
y=int(input('enter the higher level'))
prime(x,y)

In [5]:
x=[ 5,9,5,6,9,2,1,1,1] # remove duplicate elwements and sort

x.sort()
for j in x:
  y=x.count(j)
  if y>1:
    for i in range (1,y):
      x.remove(j)
print(x)


y=[]
for j in x:
  if j not in y:
    y.append(j)
print(y)

[1, 2, 5, 6, 9]
[1, 2, 5, 6, 9]

In [6]:
# 9830806101 kaushik majumder sir number
x=[[4,3,5],'ab', 'cd', [7,8,9,2], [6.6,3.5,9.4]] # find the sum of thge nested list
y=[sum(j) for j in x if type(j) is list]
print(y)

y=[]
for j in x:
  if type (j) is list:
    y.append(sum(j))
print(y)

[12, 26, 19.5]
[12, 26, 19.5]

In [55]:
# write a python propgram to convert list items into strings
y=["techno", "international", "newtown", 1 ,2 ]

def l2s(l):
  strg =""
  for  element in l:
    element=str(element)
    strg= strg + element
  return strg

print(l2s(y))

technointernationalnewtown12

In [54]:
# write a python program to reverse the items of a list using a function (dont use library function)

def rev(a):
  x=len(a)
  b=[]
  while(x>0):
    b.append(a[x-1])
    x=x-1
  return b

j=[]
for x in range (1,11):
  f=input()
  j.append(f)

print(rev(j))

1
2
3
4
5
6
7
8
9
0
['0', '9', '8', '7', '6', '5', '4', '3', '2', '1']

In [ ]:
# write a python function that will return the even items from an original list

def eve(y):

In [50]:
#write a python program that will convert set of strings into list.for eg ("a","p","p","l","e") will be converted into ("apple")
y=["techno", "international", "newtown", 1 ,2 ]

def l2s(l):
  strg =""
  for  element in l:
    element=str(element)
    strg= strg + element
  return strg

print(l2s(y))

technointernationalnewtown12

In [49]:
# slicing
a=[1,2,3,4,5]

print(a[:1])
print(a[2:])
print(a[:-1])
print(a[:-2])

[1]
[3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]

In [48]:
# set implemented with {}

st={1,2,3,4}
print(type(st))

st.add(5)
print(st)

new_st=frozenset(st)
print(new_st)
#new_st.add(6)

st={1,2,7,6,9}
print(st)

st.remove(2)
print(st)

emp= set()
emp.add(89)
print(type(emp))
print(emp)

emt= {}
print(type(emt))
print(emt)

<class 'set'>
{1, 2, 3, 4, 5}
frozenset({1, 2, 3, 4, 5})
{1, 2, 6, 7, 9}
{1, 6, 7, 9}
<class 'set'>
{89}
<class 'dict'>
{}

In [47]:
a=[8,1,6,9]
a.remove(6)
print(a)

del a[1]
print(a)

a.pop(1)
print(a)

[8, 1, 9]
[8, 9]
[8]

In [45]:
st={1.0,"hello", (1,2,3)}
print(st)
for j in st:
  print(type(j))

{1.0, (1, 2, 3), 'hello'}
<class 'float'>
<class 'tuple'>
<class 'str'>

In [46]:
swl=set([1,2,3])
print(type(swl))
print(swl)

<class 'set'>
{1, 2, 3}

In [44]:
st= set()
st.update([3,4])
st.update((1,8))
st.update("sikander")
print(st)

st.discard (8)
print(st)

st1=set("apple")
print(st1)
print('a'in st1)
print('p' not in st1)

{1, 3, 4, 'k', 'e', 8, 'd', 'a', 's', 'n', 'i', 'r'}
{1, 3, 4, 'k', 'e', 'd', 'a', 's', 'n', 'i', 'r'}
{'e', 'l', 'a', 'p'}
True
False

In [43]:
#read a string and find the unique number of charecters in it

data = "techno international newtown"
unique = set(data)
unique.discard(' ')
print("number of unique elements =",len(unique))
print("list of unique elements =",unique)

data= list(data)
for ele in unique:
  data.remove(ele)
y=set (data)
y.discard(' ')
print("repeated chgarecters ", y)

number of unique elements = 11
list of unique elements = {'w', 'e', 'c', 'a', 't', 'h', 'n', 'o', 'i', 'l', 'r'}
repeated chgarecters  {'w', 'e', 'a', 't', 'n', 'i', 'o'}

In [42]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {1,3,4,7,9}

print("union  = ",a|b)
print("intersection  = ",a&b)
print("difference  = ",a-b)
print("difference  = ",b-a)
print("symmetric differnce  = ",a^b)

c=a.union(b)
print("union  = ",c)
d=a.intersection(b)
print("intersection  = ",d)
e=a.difference(b)
print("difference  = ",e)
f=a.symmetric_difference(b)
print("symmetric differnce  = ",f)

a.update(b)
print(a)
a.intersection_update(b)
print(a)
a.symmetric_difference_update(b)
print(a)
a.difference_update(b)
print(a)

union  =  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection  =  {1, 3, 4, 7, 9}
difference  =  {0, 2, 5, 6, 8}
difference  =  set()
symmetric differnce  =  {0, 2, 5, 6, 8}
union  =  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection  =  {1, 3, 4, 7, 9}
difference  =  {0, 2, 5, 6, 8}
symmetric differnce  =  {0, 2, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 4, 7, 9}
set()
set()

In [41]:
# write a program to find minimum and maximum element from the set

a = {1,2,-3,4,5,6,-7,-8,-9,0}
print(max(a))
print(min(a))

6
-9

In [40]:
# write a program to remove all elements from a set

a = {1,2,3,4,5,6,7,8,9,0}
a.clear()
print(a)

set()

In [39]:
# write a program to remove all elements from a set

a = {1,2,3,4,5,6,7,8,9,0}
b=list(a)
c=len(a)
while(c>0):
  del b[c-1]
  c-=1
d=set(b)
print(d)

set()

In [38]:
# write a prgram to find if a set is a subset of another

a = {1,2,3,4,5,6,7,8,9,0}
b = {3,5,8,9}
print(b.issubset(a))
print(a.issuperset(b))

True
True

In [37]:
a={} # this is a dictionary # or a=dict() also works
print(type(a))

a={'car': 'audi' , 'color': 'red' }
a['year']= 1992
print(a)

a = {'car': 'audi', 'color': 'red', 'year': 1992, 'year': 2020}
print(a)

print(a.keys())
print(a.values())

<class 'dict'>
{'car': 'audi', 'color': 'red', 'year': 1992}
{'car': 'audi', 'color': 'red', 'year': 2020}
dict_keys(['car', 'color', 'year'])
dict_values(['audi', 'red', 2020])

In [36]:
d=dict()
d['age'] = 73
d['course'] = 164
print(d)
d['age']= 75
print(d)

{'age': 73, 'course': 164}
{'age': 75, 'course': 164}

In [35]:
a = dict()
a = {'car': 'audi', 'color': 'red', 'year': 1992, 'year': 2020}
if "audi" in a:
  print("yes")
else:
  print("no")

if "car" in a:
  print("yes")
else:
  print("no")

no
yes

In [34]:
a = {'car': 'audi', 'color': 'red', 'year': 1992, 'year': 2020}
a.update({"color" : "blue"})
print(a)

a.pop("color")
print(a)

a.popitem()
print(a)

# remove doesnot work

del a["car"]
print(a)

{'car': 'audi', 'color': 'blue', 'year': 2020}
{'car': 'audi', 'year': 2020}
{'car': 'audi'}
{}

In [33]:
a = {'car': 'audi', 'color': 'red', 'year': 1992, 'year': 2020}
print(a.pop("car"))
print(a)

audi
{'color': 'red', 'year': 2020}

In [32]:
counts = dict()
names = ['csev', 'cwen' , 'csev' , 'zqian' , 'cwen']
for name in names:
  if name not in counts:
    counts[name] = 1
  else:
    counts[name] = counts[name] + 1

print(counts)

counts.get("csev")

{'csev': 2, 'cwen': 2, 'zqian': 1}

2

In [31]:
a = {'car': 'audi', 'color': 'red', 'year': 1992, 'year': 2020}
b = {'car': 'bmw', 'color': 'blue', 'year': 1994, 'year': 2020}
c={'car1' : a , 'car2' : b }
print(c)

# dictionary doesnot take duplicate values for same key so takes last value

{'car1': {'car': 'audi', 'color': 'red', 'year': 2020}, 'car2': {'car': 'bmw', 'color': 'blue', 'year': 2020}}

In [ ]:
#  create a dictionary where keys are first 5 natural numbers and values are square value of keys.
# expected output : {1:1, 2:4, 3:9, 4:16, 5:25}

a=dict()
c=1
while (c<6):
  a[c]= c*c
  c+=1
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# concatenate two individual dictionaries into a sigle dict
# a = { 1:1, 2:4, 3:9 } and b = { 4:16 , 5:25 }
# expected output : {1:1, 2:4, 3:9, 4:16, 5:25}

a = { 1:1, 2:4, 3:9 }
b = { 4:16 , 5:25 }

c={}
for i in (a,b):
  c.update(i)
print(c)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [30]:
# builtin func for set
#len max min sorted any del type add

x=set()
print(type(x))
x.add(34)
x.add(35)
x.add(36)
print(x)
#x.remove(9) # key error
x.discard(9) # no error and continues
print(x)

# in set no list can be inserted but all others aare possible

<class 'set'>
{34, 35, 36}
{34, 35, 36}

In [29]:
# list comprehension

x=[1,2,3,4,5,6,7,8,9,0]
y=[j for j in x if j%2==0 ]
print(y)

[2, 4, 6, 8, 0]

In [28]:
c=dict()
x=[2,4,2,3,6,7,4,3,2]
for j in x :
  if j not in c:
    c[j]=1
  else :
    c[j]=c[j]+1
print(c)


y=list(set(x))
print(y)
for j in y:
  if j in x:
    print(j,'', x.count(j))

{2: 3, 4: 2, 3: 2, 6: 1, 7: 1}
[2, 3, 4, 6, 7]
2  3
3  2
4  2
6  1
7  1

In [ ]:
x=[2,4,2,3,6,7,4,3,2,9,1,3,5]
# even list and odd tupple

In [27]:
# print(x.get(y)) == print(x[y])
x={'sachin' : 1,'sourav' : 2,'dhoni' : 3,'virat' : 4 }
print(x.get(input("enter the key :")))
v=int(input())
for i,j in x.items():
  if v==j :
    print(i)

enter the key :sachin
1
3
dhoni

In [25]:
x={'s1': {1:'a',2:'b',3: 'c'} , 's2': {1:'d',2:'e',3: 'f'} ,'s3': {1:'x',2:'y',3: 'z'} }
y=['ram' , 'sam']

q=0
while 1:
  flag =0
  p=(input("enter the passenger name "))
  for i,j in x.items():
    for k,l in j.items():
      if p == l:
        print("ticket booked in ",i,' ',k ,"for :",y[q])
        j[k]=y[q]
        y.remove(y[q])
        flag=1
        break
  if flag == 0:
    print("passenger not found")
  print("current waiting list :",y)
  print("current booked seat status list :",x)
  if(len(y)==0):
    break

enter the passenger name f
ticket booked in  s2   3 for : ram
current waiting list : ['sam']
current booked seat status list : {'s1': {1: 'a', 2: 'b', 3: 'c'}, 's2': {1: 'd', 2: 'e', 3: 'ram'}, 's3': {1: 'x', 2: 'y', 3: 'z'}}
enter the passenger name u
passenger not found
current waiting list : ['sam']
current booked seat status list : {'s1': {1: 'a', 2: 'b', 3: 'c'}, 's2': {1: 'd', 2: 'e', 3: 'ram'}, 's3': {1: 'x', 2: 'y', 3: 'z'}}
enter the passenger name y
ticket booked in  s3   2 for : sam
current waiting list : []
current booked seat status list : {'s1': {1: 'a', 2: 'b', 3: 'c'}, 's2': {1: 'd', 2: 'e', 3: 'ram'}, 's3': {1: 'x', 2: 'sam', 3: 'z'}}

In [20]:
x=[1,2,3]
y=['a','b','c']
z=dict(zip(x,y))
print(z)
z=dict.fromkeys(x)
print(z)
f=0
for i,j in z.items():
  z[i]= y[f]
  f=f+1
print(z)

{1: 'a', 2: 'b', 3: 'c'}
{1: None, 2: None, 3: None}
{1: 'a', 2: 'b', 3: 'c'}

In [19]:
# string and string slicing
'''
a  b  c  d  e  f
0  1  2  3  4  5
-6 -5 -4 -3 -2 -1'''
x= "abcdef"
print(x[2:5])
print(x[2:])
print(x[:1])
print(x[::2])
print(x[-5:-2])
print(x[::-1])

cde
cdef
a
ace
bcd
fedcba

In [ ]:
x= "ram is a bad boy"
y=x.split()
print(y)
print('number of words',len(y))

In [18]:
x= "  techno  "
print(len(x))
print(len(x.lstrip()))
print(len(x.rstrip()))
print(len(x.strip()))

10
8
8
6

In [17]:
x='2'
print(type(x))
print(x.isdigit())
print(x.isalpha())
y='a'
print(y.upper())

<class 'str'>
True
False
A

In [16]:
# palindrome checking
x=input()
y=(x[::-1])
print(x)
print(y)
if x == y:
  print('palindrome')
else:
  print('not plaindrome')

MADAM
MADAM
MADAM
palindrome

In [14]:
x=input()
count =0
l=''
z= x.split()
for c in z :
  y=(c[::-1])
  if c == y:
    count +=1
    l=l+','+c
l=l.strip(",")
print('number of palindrome words is ',count)
print('palinderome words are =',l)

MADAM ARORA IS A TEACHER OF MALAYALAM
number of palindrome words is  4
palinderome words are = MADAM,ARORA,A,MALAYALAM

In [13]:
x= "ram is a bad boy"
y=x.split()
for j in y:
  print(j,'  ',len(j))

ram    3
is    2
a    1
bad    3
boy    3

In [ ]:
x= input()
l=list()
y=x.split()
c=0
z=len(y)
for j in y:
  if c!=z-1:
    j=str(j)
    j=j[:1]
    l.append(j.upper())
    c+=1
print(*l,y[z-1])

amal kumar dey
A K dey

In [ ]:
def tint(x,y):
  return(x*y, x+y, x/y) # only one return statement available and multiple values may be returned
c=tint(10,20) # 3 answer return in tuple
print(type (c))
print(c)
# keyword argument
def tint1(key , key1 ,key2):
  print("roll  ",key)
  print("name  ",key1)
  print("address  ",key2)
tint1(10,'alapan','kolkata' )
# default argument
def tint2(key , key1 ,key2= '****' ):
  print("roll  ",key)
  print("name  ",key1)
  print("address  ",key2)
tint2(10,'alapan')
# variable length argument
def tint3( *n ):
  return (n)
print(tint3(1,2,3,4))
print(tint3(1,2,3,4,5,6,7,8,9))

<class 'tuple'>
(200, 30, 0.5)
roll   10
name   alapan
address   kolkata
roll   10
name   alapan
address   ****
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [9]:
# lamda function is an unnamed function
x=10
y=20
z=lambda x,y : x+y
print(z(x,y))

30

In [10]:
x= int(input())
z= lambda x : "even" if x%2==0 else "odd"
print(z(x))

89
odd

In [12]:
#plaindrome word checking using lambda function
x=input()
y=(x[::-1])
z=lambda x,y : "palindrome" if x == y else "not palimndrome"
print(z(x,y))

78987
palindrome

In [8]:
#maximum among 3 numbers using lambda

x=int(input())
y=int(input())
z=int(input())
q= lambda x,y,z : "x is greater" if x>y and x>z else "y is greater" if y>z else "z is greater"
print(q(x,y,z))
w= lambda x,y,z : max (x,y,z)
print(w(x,y,z))

7
8
5
y is greater
8

In [7]:
# filter function
x=[1,2,3,4,5,6,7,8,9]
def tint(x):
  if x%2==0:
    return True
  else :
    return False
z=list(filter(tint,x))
print(z)

[2, 4, 6, 8]

In [ ]:
x=[1,2,3,4,5,6,7,8,9] # extract a even function into list using lambda and and filter
a= lambda z:[ j for j in x if j%2==0]
z=list(filter(a,x))
print(a(z))